.about{
    position: relative;
    
}
.about-content{
    width: calc(100% - 420px);
    height: 100%;
    padding-top: 70px;
    padding-bottom: 155px;
}
.about-conten1 {
    padding-left: 134px;
    padding-right: 60px;
}


.about-conten1-title {
    font-size: 1.6rem;
    color: #b5891a;
    display: block;
    font-weight: 500;
}

.about-conten1-name {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    padding: 10px 0;
    color: var(--coffe-Color);
    

}

.about-conten1-decripsicon {
    display: block;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: left;
    padding-bottom: 30px;

}

.about-conten1-trangchu {
    width: 240px;
    height: 50px;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color:  #b5891a;
    text-transform: uppercase;

}
.about-conten1-trangchu:hover{
    color: var(--while-color);
    opacity: 0.9;

}

.about-conten2 {
    padding-left: 134px;
    padding-right: 40px;
    padding-top: 50px;
    display: flex;
}

.about-conten2-list {
    padding-right: 70px;

}

.about-conten2-name1 {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;

}

.about-conten2-name2 {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    color: var(--coffe-Color);
    padding: 30px 0;

}

.about-conten2-name3 {
    font-size: 1.6rem;
    font-weight: 600;

}
.about-conten-img{
    width: 420px;
    height: 100vh;
    position: absolute;
    top: 50px;
    right: 0;
    object-fit: cover;

    
}

.about-info {
    position: relative;
    height: 100vh;
    
}

.about-info-img {
    width: 738px;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

}

.about-info-content {
    width: calc(100% - 738px);
    float: right;
    padding: 30px 10px 10px 20px;
    

}

.about-info-content-title {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: #b5891a;

}

.about-info-content-name {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    color: var(--coffe-Color);
    padding: 25px 0 15px 0;

}

.about-info-content-decripsion {
    display: block;
    font-size: 1.5rem;
    line-height: 2.5rem;

}

.about-info-content-list {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 10px 0 0 20px;

}

.about-info-content-item {
    padding: 10px 0;

}

/* menu */
.menu-title{
    margin-top: 50px;
}
.productviewitem-link{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    top: 0;
    transition: top linear .1s;
}
.productviewitem-link:hover{
    top: -3px;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .05);
}
.category-name{
    font-size: 2.2rem;
    color: var(--coffe-Color);
    text-align: center;
    display: block;
    font-weight: 500;
    width: 600px;
    height: 40px;
    background-color: #dbb667;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 40px auto 10px;
}
/* end menu */

/* bean story */
.bean-story {
    background-image: linear-gradient(0, #b36e2e ,#e5ca8f);
    display: block;
    padding-top: 2px;
    padding-bottom: 30px;

}

.bean-story-title {
    font-size: 2.5rem;
    color: var(--coffe-Color);
    text-align: center;
    display: block;
    margin-top: 70px;
    margin-bottom: 40px;
    font-weight: 500;
}

.bean-story-conten {
    display: flex;
    padding-left: 50px;
    padding-top: 10px;

}

.bean-story-img{
    background-repeat: no-repeat;
    background-size: contain;
}


.bean-story-info {
    display: block;
    padding-left: 20px;
    color: var(--text-color);
}

.bean-story-name {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--coffe-Color);

}

.bean-story-origin {
    display: block;
    font-size: 1.4rem;
    padding: 10px 0;
}

.bean-story-decription {
    font-size: 1.4rem;

}

/* end bean story */

/* start contact */
.contact {
    background-image: linear-gradient(0, #b36e2e ,#e5ca8f);
    display: block;
    padding-top: 2px;
    padding-bottom: 30px;

}

.contact-title {
    font-size: 2.5rem;
    color: var(--coffe-Color);
    text-align: center;
    display: block;
    margin-top: 70px;
    margin-bottom: 40px;
    font-weight: 500;

}

.contact-content {
    width: 100%;
    display: flex;
    margin: 100px 0;
    justify-content: space-around;
    


}

.contact-info {
    font-size: 1.4rem;
    line-height: 2.5rem;

}
.contact-info i[class*='fa-']{
    width: 30px;
    display: inline-block;
}

.contact-form{
    display: inline-block;

}

.contact-form-btn {
    margin-top: 16px !important;
    font-size: 15px;
    color: var(--coffe-Color);
    background-color: #b5891a;
    border: 1px solid #000;
    padding: 6px 14px;
    cursor: pointer;
    float: right;

}
.contact-form-btn:hover{
    color: var(--while-color);
}
.contact-form-row {
    margin-left: -8px;
    margin-right: -8px;

}
.contact-form-row::after{
    content: "";
    display: block;
    clear: both;
}
.contact-form-cols {
    float: left;
    padding-left: 8px;
    padding-right: 8px;

}

.contact-form-cols2 {
    width: 50%;

}

.contact-form-input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    

}

.contact-form-mt8 {
    padding-top: 8px !important;

}

.contact-form-colsfull {
    width: 100%;

}

/* end contact */

/* start product detail */
.productDetail-title{
    padding-top: 10px;
}
.productDetail {
    display: flex;
    padding-left: 100px;
    padding-bottom: 40px;
    padding-top: 20px;

}

.productDetail-image {

}

.productDetail-img {
    border-radius: 2px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);

}

.productDetail-content {
    padding-left: 40px;

}

.productDetail-name {
    display: block;
    font-size: 2.2rem;
    font-weight: 500;
    padding-bottom: 10px;
}

.productDetail-decripsion {
    font-size: 1.6rem;
    display: block;
    padding: 10px 0;

}

.productDetail-price {
    display: flex;
    margin: 20px 0;

}

.productDetail-pri {
    font-size: 2rem;
    font-weight: 500;
    color: red;
    margin-right: 20px;

}

.productDetail-commnet {

}

.productDetail-button {
    padding-top: 20px;

}

.productDetail-button-back {
    display: inline-flex;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #b5891a;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    border-radius: 2px;
    margin-right: 43px;

}
.productDetail-button-back:hover{
    color: var(--while-color);
    opacity: 0.9;
    
}
.productDetail-star{
    color: #ffbf1a;

}
.productDetail-star1{
    color: #e5e5e5;
}
.productDetail-love{
    color: #ff424f;
    font-size: 2rem;

}
/* end product detail */